core/laboratory-bak/src/main/resources/CGMSERVICE_hl7.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://cgm.ru" xmlns:ns="cgm.ru" name="cgmsoap" targetNamespace="http://cgm.ru">
  <types>
    <schema targetNamespace="http://cgm.ru"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <complexType name="obsReferenceInfo">
        <attribute name="value" type="xs:string"  use="optional"/>
      </complexType>
      <complexType name="obsTextInfo">
        <sequence>
          <element name="reference" type="tns:obsReferenceInfo"/>
        </sequence>
      </complexType>
      <complexType name="obsTranslationInfo">
        <attribute name="displayName" type="xs:string"  use="optional"/>
      </complexType>
      <complexType name="obsCodeInfo">
        <sequence>
          <element name="translation" type="tns:obsTranslationInfo"/>
        </sequence>
        <attribute name="code" type="xs:string"  use="optional"/>
        <attribute name="displayName" type="xs:string"  use="optional"/>
      </complexType>
      <complexType name="obsIdInfo">
        <attribute name="root" type="xs:string"  use="optional"/>
        <attribute name="extension" type="xs:string"  use="optional"/>
      </complexType>
      <complexType name="obsEffectiveTimeInfo">
        <attribute name="value" type="xs:dateTime"  use="optional"/>
      </complexType>
      <complexType name="srIdInfo">
        <attribute name="root" type="xs:string"  use="optional"/>
      </complexType>
      <complexType name="spTextInfo">
        <attribute name="value" type="xs:string"  use="optional"/>
      </complexType>
      <complexType name="spTranslationInfo">
        <attribute name="displayName" type="xs:string"  use="optional"/>
      </complexType>
      <complexType name="spCodeInfo">
        <sequence>
          <element name="translation" type="tns:spTranslationInfo"/>
        </sequence>
        <attribute name="code" type="xs:string"  use="optional"/>
      </complexType>
      <complexType name="spQuantityInfo">
        <attribute name="value" type="xs:string"  use="optional"/>
      </complexType>
      <complexType name="spUnitInfo">
        <attribute name="code" type="xs:string"  use="optional"/>
        <attribute name="codename" type="xs:string"  use="optional"/>
      </complexType>
      <complexType name="specimenPlayingEntityInfo">
        <sequence>
          <element name="code" type="tns:spCodeInfo"/>
          <element name="quantity" type="tns:spQuantityInfo"/>
          <element name="unit" type="tns:spUnitInfo"/>
          <element name="text" type="tns:spTextInfo"/>
        </sequence>
      </complexType>
      <complexType name="specimenRoleInfo">
        <sequence>
          <element name="id" type="tns:srIdInfo"/>
          <element name="specimenPlayingEntity" type="tns:specimenPlayingEntityInfo"/>
        </sequence>
        <attribute name="classCode" type="xs:string"  use="optional"/>
        <attribute name="moodCode" type="xs:string"  use="optional"/>
        <attribute name="negationInd" type="xs:string"  use="optional"/>
      </complexType>
      <complexType name="specimenInfo">
        <sequence>
          <element name="specimenRole" type="tns:specimenRoleInfo"/>
        </sequence>
      </complexType>
      <complexType name="obsValueInfo">
        <attribute name="value" type="xs:string"  use="optional"/>
        <attribute name="unit" type="xs:string"  use="optional"/>
      </complexType>
      <complexType name="observationInfo">
        <sequence>
          <element name="id" type="tns:obsIdInfo" minOccurs="0"/>
          <element name="code" type="tns:obsCodeInfo" minOccurs="0"/>
          <element name="value" type="tns:obsValueInfo" minOccurs="0"/>
          <element name="effectiveTime" type="tns:obsEffectiveTimeInfo" minOccurs="0" />
          <element name="specimen" type="tns:specimenInfo" minOccurs="0" />
        </sequence>
        <attribute name="classCode" type="xs:string"  use="optional"/>
        <attribute name="moodCode" type="xs:string"  use="optional"/>
        <attribute name="negationInd" type="xs:string"  use="optional"/>
      </complexType>
      <complexType name="entryInfo">
        <sequence>
          <element name="observation" type="tns:observationInfo" minOccurs="0"/>
        </sequence>
      </complexType>
      <complexType name="sectionInfo">
        <sequence>
          <element name="entry" type="tns:entryInfo" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </complexType>
      <complexType name="subComponentInfo">
        <sequence>
          <element name="section" type="tns:sectionInfo"/>
          <element name="entry" type="tns:entryInfo" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </complexType>
      <complexType name="structuredBodyInfo">
        <sequence>
          <!-- информация по биоматериалу -->
          <element name="component" type="tns:subComponentInfo"/>
          <!-- индикаторы -->
          <element name="component" type="tns:subComponentInfo"/>
          <!-- услуги -->
          <element name="component" type="tns:subComponentInfo"/>
          <!-- беременность -->
          <element name="component" type="tns:subComponentInfo"/>
          <!-- комментарий -->
          <element name="component" type="tns:subComponentInfo"/>
        </sequence>
      </complexType>
      <complexType name="componentInfo">
        <sequence>
          <element name="structuredBody" type="tns:structuredBodyInfo"/>
        </sequence>
      </complexType>
      <complexType name ="effectiveTimeInfo">
        <attribute name="nullFlavor" type="xs:string"  use="optional"/>
      </complexType>
      <complexType name ="eeCodeInfo">
        <attribute name="codeSystem" type="xs:string"  use="optional"/>
        <attribute name="codeSystemName" type="xs:string"  use="optional"/>
        <attribute name="code" type="xs:string"  use="optional"/>
        <attribute name="displayName" type="xs:string"  use="optional"/>
      </complexType>
      <complexType name ="eeIdInfo">
        <attribute name="root" type="xs:string"  use="optional"/>
        <attribute name="extension" type="xs:string"  use="optional"/>
      </complexType>
      <complexType name="encompassingEncounterInfo">
        <sequence>
          <element name="id" type="tns:eeIdInfo"/>
          <element name="code" type="tns:eeCodeInfo"/>
          <element name="effectiveTime" type="tns:effectiveTimeInfo"/>
        </sequence>
      </complexType>
      <complexType name="componentOfInfo">
        <sequence>
          <element name="encompassingEncounter" type="tns:encompassingEncounterInfo"/>
        </sequence>
      </complexType>
      <complexType name ="reporgIDInfo">
        <attribute name="root" type="xs:string"  use="optional"/>
      </complexType>
      <complexType name="representedOrganizationInfo">
        <sequence>
          <element name="id" type="tns:reporgIDInfo"/>
          <element name="name" type="xs:string"/>
        </sequence>
      </complexType>
      <complexType name="assignedPersonInfo">
        <sequence>
          <element name="name" type="tns:nameInfo"/>
        </sequence>
        <attribute name="classCode" type="xs:string"  use="optional"/>
        <attribute name="determinerCode" type="xs:string"  use="optional"/>
      </complexType>
      <complexType name ="doctorIdInfo">
        <attribute name="extension" type="xs:string"  use="optional"/>
        <attribute name="root" type="xs:string"  use="optional"/>
      </complexType>
      <complexType name="assignedAuthorInfo">
        <sequence>
          <element name="id" type="tns:doctorIdInfo"/>
          <element name="assignedPerson" type="tns:assignedPersonInfo"/>
          <element name="representedOrganization" type="tns:representedOrganizationInfo"/>
        </sequence>
        <attribute name="classCode" type="xs:string"  use="optional"/>
      </complexType>
      <complexType name ="dateTimeInfo">
        <attribute name="value" type="xs:dateTime"  use="optional"/>
      </complexType>
      <complexType name="authorInfo">
        <sequence>
          <element name="time" type="tns:dateTimeInfo"/>
          <element name="assignedAuthor" type="tns:assignedAuthorInfo"/>
        </sequence>
        <attribute name="typeCode" type="xs:string"  use="optional"/>
      </complexType>
      <complexType name ="lpuIDInfo">
        <attribute name="root" type="xs:string"  use="optional"/>
      </complexType>
      <complexType name="providerOrganizationInfo">
        <sequence>
          <element name="id" type="tns:lpuIDInfo"/>
          <element name="name" type="xs:string"/>
        </sequence>
        <attribute name="classCode" type="xs:string"  use="optional"/>
        <attribute name="determinerCode" type="xs:string"  use="optional"/>
      </complexType>
      <complexType name ="birthTimeInfo">
        <attribute name="value" type="xs:date"  use="optional"/>
      </complexType>
      <complexType name ="administrativeGenderCodeInfo">
        <attribute name="code" type="xs:string"  use="optional"/>
      </complexType>
      <complexType name="nameInfo">
        <sequence>
          <element name="name" type="xs:string"/>
          <element name="suffix" type="xs:string"/>
          <element name="family" type="xs:string"/>
        </sequence>
      </complexType>
      <complexType name="patientInfo">
        <sequence>
          <element name="name" type="tns:nameInfo"/>
          <element name="administrativeGenderCode" type="tns:administrativeGenderCodeInfo"/>
          <element name="birthTime" type="tns:birthTimeInfo"/>
        </sequence>
        <attribute name="classCode" type="xs:string"  use="optional"/>
        <attribute name="determinerCode" type="xs:string"  use="optional"/>
      </complexType>
      <complexType name ="patientIDInfo">
          <attribute name="extension" type="xs:string"  use="optional"/>
          <attribute name="root" type="xs:string"  use="optional"/>
      </complexType>
      <complexType name="patientRoleInfo">
        <sequence>
          <element name="id" type="tns:patientIDInfo"/>
          <element name="addr" type="xs:string"/>
          <element name="patient" type="tns:patientInfo"/>
          <element name="providerOrganization" type="tns:providerOrganizationInfo"/>
        </sequence>
        <attribute name="classCode" type="xs:string"  use="optional"/>
      </complexType>
      <complexType name="recordTargetInfo">
        <sequence>
          <element name="patientRole" type="tns:patientRoleInfo"/>
        </sequence>
        <attribute name="typeCode" type="xs:string"  use="optional"/>
      </complexType>
      <!-- document -->
      <complexType name="HL7_document">
        <sequence>
          <element name ="typeId">
            <complexType>
              <attribute name="extention" type="xs:string"  use="optional"/>
              <attribute name="root" type="xs:string"  use="optional"/>
            </complexType>
          </element>
          <element name ="id">
            <complexType>
              <attribute name="root" type="xs:string"  use="optional"/>
              <attribute name="extention" type="xs:string"  use="optional"/>
            </complexType>
          </element>
          <element name ="code">
          </element>
          <element name="title" type="xs:string"/>
          <element name ="effectiveTime">
            <complexType>
              <attribute name="value" type="xs:string"  use="required"/>
            </complexType>
          </element>
          <element name ="confidentialityCode">
            <complexType>
              <attribute name="code" type="xs:string"  use="optional"/>
              <attribute name="codeSystem" type="xs:string"  use="optional"/>
            </complexType>
          </element>
          <element name ="languageCode">
            <complexType>
              <attribute name="code" type="xs:string"  use="optional"/>
            </complexType>
          </element>
          <element name ="versionNumber">
            <complexType>
              <attribute name="value" type="xs:string"  use="optional"/>
            </complexType>
          </element>
          <element name="recordTarget" type="tns:recordTargetInfo"/>
          <element name="author" type="tns:authorInfo"/>
          <element name="componentOf" type="tns:componentOfInfo"/>
          <element name="component" type="tns:componentInfo"/>
        </sequence>
      </complexType>
    </schema>
  </types>
  <message name="queryAnalysisRequest">
    <part name="ClinicalDocument" type="tns:HL7_document"/>
  </message>
  <message name="queryAnalysisResponse">
    <part name="id" type="xs:int"/>
    <part name="GUID" type="xs:string"/>
	</message>
	<portType name="cgmsoap_PortType">
		<operation name="queryAnalysis">
			<input message="tns:queryAnalysisRequest"/>
			<output message="tns:queryAnalysisResponse"/>
		</operation>
	</portType>
	<binding name="cgmsoap_Binding" type="tns:cgmsoap_PortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="queryAnalysis">
			<soap:operation soapAction="qry_CGM"/>
			<input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:cgm.ru:cgmsoap"/>
			</input>
			<output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:cgm.ru:cgmsoap"/>
			</output>
		</operation>
	</binding>
	<service name="CGM_SOAP">
		<documentation>WSDL File for cgmsoap HL7 edition</documentation>
		<port name="cgmsoap_PortType" binding="tns:cgmsoap_Binding">
			<soap:address location="http://10.128.131.114:8090"/>
		</port>
	</service>
</definitions>
