core/ws-laboratory/src/main/webapp/labisws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions name="tmis-laboratory-integration" targetNamespace="http://korus.ru/tmis/tmis-laboratory-integration"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://korus.ru/tmis/tmis-laboratory-integration"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <types>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://korus.ru/tmis/tmis-laboratory-integration" version="1.0" xmlns:tns="http://korus.ru/tmis/tmis-laboratory-integration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="ExceptionFault" nillable="true" type="tns:faultBean"/>
            <xs:element name="setAnalysisResults" type="tns:setAnalysisResults"/>
            <xs:element name="setAnalysisResultsResponse" type="tns:setAnalysisResultsResponse"/>
            <xs:complexType name="setAnalysisResults">
                <xs:sequence>
                    <xs:element minOccurs="0" name="orderMisId" type="xs:string"/>
                    <xs:element name="referralIsFinished" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="results" type="tns:analysisResult"/>
                    <xs:element minOccurs="0" name="biomaterialDefects" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="analysisResult">
                <xs:sequence>
                    <xs:element name="indicatorName" type="xs:string"/>
                    <xs:element name="indicatorCode" type="xs:string"/>
                    <xs:element name="deviceName" type="xs:string"/>
                    <xs:element name="valueType" type="xs:int"/>
                    <xs:element name="resultValueText" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="imageValues" nillable="true" type="tns:imageValue"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="microValues" nillable="true" type="tns:microOrganismResult"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="microSensitivity" nillable="true" type="tns:antibioticSensitivity"/>
                    <xs:element name="resultNormString" type="xs:string"/>
                    <xs:element name="resultNormalityIndex" type="xs:float"/>
                    <xs:element name="resultUnit" type="xs:string"/>
                    <xs:element name="resultSignDate" type="xs:dateTime"/>
                    <xs:element name="resultStatus" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultComment" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="imageValue">
                <xs:sequence>
                    <xs:element name="imageString" type="xs:string"/>
                    <xs:element name="imageData" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="microOrganismResult">
                <xs:sequence>
                    <xs:element name="organismLisId" type="xs:string"/>
                    <xs:element name="organismName" type="xs:string"/>
                    <xs:element name="organismConcetration" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="antibioticSensitivity">
                <xs:sequence>
                    <xs:element name="antibioticLisId" type="xs:string"/>
                    <xs:element name="antibioticName" type="xs:string"/>
                    <xs:element name="MIC" type="xs:string"/>
                    <xs:element name="antibioticActivityValue" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="setAnalysisResultsResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="faultBean">
                <xs:sequence>
                    <xs:element form="unqualified" name="id" type="xs:int"/>
                    <xs:element form="unqualified" minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>

    <message name="setAnalysisResults">
        <part name="parameters" element="tns:setAnalysisResults"/>
    </message>

    <message name="setAnalysisResultsResponse">
        <part name="parameters" element="tns:setAnalysisResultsResponse"/>
    </message>

    <message name="CoreException">
        <part name="fault" element="tns:ExceptionFault"/>
    </message>

    <portType name="tmis">
        <operation name="setAnalysisResults">
            <input message="tns:setAnalysisResults"
                   wsam:Action="http://korus.ru/tmis/tmis-laboratory-integration/tmis/setAnalysisResultsRequest"/>
            <output message="tns:setAnalysisResultsResponse"
                    wsam:Action="http://korus.ru/tmis/tmis-laboratory-integration/tmis/setAnalysisResultsResponse"/>
            <fault name="CoreException" message="tns:CoreException"
                   wsam:Action="http://korus.ru/tmis/tmis-laboratory-integration/tmis/setAnalysisResults/Fault/CoreException"/>
        </operation>
    </portType>

    <binding name="tmisBinding" type="tns:tmis">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="setAnalysisResults">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>

            <output>
                <soap:body use="literal"/>
            </output>

            <fault name="CoreException">
                <soap:fault name="CoreException" use="literal"/>
            </fault>
        </operation>
    </binding>

    <service name="tmis-laboratory-integration">
        <port name="tmis" binding="tns:tmisBinding">
            <soap:address location="http://10.220.83.1:8080/tmis-ws-laboratory/tmis-laboratory-integration"/>
        </port>
    </service>
</definitions>