core/ws-laboratory/src/main/resources/CGMSERVICE_hl7.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://cgm.ru" xmlns:ns="cgm.ru" name="cgmsoap" targetNamespace="http://cgm.ru">
  <types>
    <schema targetNamespace="http://cgm.ru"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <complexType name="entryInfo">
        <sequence>
          <element name="observation" type="xs:string"/>
          <element name="effectiveTime" type="xs:dateTime"/>
          <element name="id" type="xs:string"/>
          <element name="code" type="xs:string"/>
          <element name="displayName" type="xs:string"/>
        </sequence>
      </complexType>
      <complexType name="sectionInfo">
        <sequence>
          <element name="entry" type="tns:entryInfo" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </complexType>
      <complexType name="codeSpecimenInfo">
        <sequence>
          <element name="translation" type="xs:string"/>
        </sequence>
      </complexType>
      <complexType name="specimenPlayingEntity">
        <sequence>
          <element name="code" type="tns:codeSpecimenInfo"/>
          <element name="quantity" type="xs:string"/>
          <element name="text" type="xs:string"/>
        </sequence>
      </complexType>
      <complexType name="specimenRole">
        <sequence>
          <element name="id" type="xs:int"/>
          <element name="section" type="tns:specimenPlayingEntity"/>
        </sequence>
      </complexType>
      <complexType name="specimenInfo">
        <sequence>
          <element name="section" type="tns:specimenRole"/>
        </sequence>
      </complexType>
      <complexType name="ComponentInfo">
        <sequence>
          <element name="section" type="tns:sectionInfo"/>
          <element name="entry" type="tns:entryInfo"/>
          <element name="specimen" type="tns:specimenInfo"/>
        </sequence>
      </complexType>
      <complexType name="structuredBodyInfo">
        <sequence>
          <!--sectionOrderInfo -->
          <element name="component" type="tns:ComponentInfo"/>
          <!--specimenInfo -->
          <element name="component" type="tns:ComponentInfo"/>
          <!--observationInfo -->
          <element name="component" type="tns:ComponentInfo"/>
          <!--sectionIndicatorsInfo -->
          <element name="component" type="tns:ComponentInfo"/>
        </sequence>
      </complexType>
      <complexType name="patientInfo">
        <sequence>
          <element name="id" type="xs:string"/>
          <element name="extension" type="xs:string"/>
          <element name="name" type="xs:string"/>
          <element name="family" type="xs:string"/>
          <element name="given" type="xs:string"/>
          <element name="given" type="xs:string"/>
          <element name="birthTime" type="xs:dateTime"/>
          <element name="administrativeGenderCode" type="xs:string"/>
        </sequence>
      </complexType>
      <complexType name="patientRoleInfo">
        <sequence>
          <element name="id" type="xs:int"/>
          <element name="addr" type="xs:string"/>
          <element name="telecom" type="xs:string"/>
          <element name="patient" type="tns:patientInfo"/>
          <element name="providerOrganization" type="xs:string"/>
        </sequence>
      </complexType>
      <complexType name="recordTargetInfo">
        <sequence>
          <element name="patientRole" type="tns:patientRoleInfo"/>
        </sequence>
      </complexType>
      <complexType name="assignedPersonInfo">
        <sequence>
          <element name="prefix" type="xs:string"/>
          <element name="name" type="xs:string"/>
          <element name="family" type="xs:string"/>
          <element name="given" type="xs:string"/>
          <element name="given" type="xs:string"/>
        </sequence>
      </complexType>
      <complexType name="assignedAuthorInfo2">
        <sequence>
          <element name="code" type="xs:string"/>
          <element name="displayName" type="xs:string"/>
        </sequence>
      </complexType>
      <complexType name="assignedAuthorInfo">
        <sequence>
          <element name="id" type="xs:int"/>
          <element name="assignedAuthor" type="tns:assignedAuthorInfo2"/>
          <element name="assignedPerson" type="tns:assignedPersonInfo"/>
        </sequence>
      </complexType>
      <complexType name="authorInfo">
        <sequence>
          <element name="time" type="xs:dateTime"/>
          <element name="assignedAuthor" type="tns:assignedAuthorInfo"/>
        </sequence>
      </complexType>
      <complexType name="representedCustodianOrganizationInfo">
        <sequence>
          <element name="id" type="xs:int"/>
          <element name="name" type="xs:string"/>
        </sequence>
      </complexType>
      <complexType name="assignedCustodianInfo">
        <sequence>
          <element name="representedCustodianOrganization" type="tns:representedCustodianOrganizationInfo"/>
        </sequence>
      </complexType>
      <complexType name="custodianInfo">
        <sequence>
          <element name="assignedCustodian" type="tns:assignedCustodianInfo"/>
        </sequence>
      </complexType>
      <complexType name="encompassingEncounterInfo">
        <sequence>
          <element name="id" type="xs:string"/>
          <element name="effectiveTime" type="xs:dateTime"/>
        </sequence>
      </complexType>
      <complexType name="componentOfInfo">
        <sequence>
          <element name="encompassingEncounter" type="tns:encompassingEncounterInfo"/>
        </sequence>
      </complexType>
      <complexType name="componentInfo">
        <sequence>
          <element name="structuredBody" type="tns:structuredBodyInfo"/>
        </sequence>
      </complexType>
      <complexType name="HL7_document">
        <sequence>
          <element name="typeId" type="xs:string"/>
          <element name="id" type="xs:string"/>
          <element name="setID" type="xs:string"/>
          <element name="versionNumber" type="xs:int"/>
          <element name="code" type="xs:string"/>
          <element name="title" type="xs:string"/>
          <element name="effectiveTime" type="xs:dateTime"/>
          <element name="confidentialityCode" type="xs:string"/>
          <element name="recordTarget" type="tns:recordTargetInfo"/>
          <element name="author" type="tns:authorInfo"/>
          <element name="custodian" type="tns:custodianInfo"/>
          <element name="componentOf" type="tns:componentOfInfo"/>
          <element name="component" type="tns:componentInfo"/>
        </sequence>
      </complexType>
    </schema>
  </types>
  
  <message name="queryAnalysisRequest">
    <part name="ClinicalDocument" type="tns:HL7_document"/>
  </message>

  <message name="queryAnalysisResponse">
    <part name="return" type="xs:int"/>
	</message>
	<portType name="cgmsoap_PortType">
		<operation name="queryAnalysis">
			<input message="tns:queryAnalysisRequest"/>
			<output message="tns:queryAnalysisResponse"/>
		</operation>
	</portType>
	<binding name="cgmsoap_Binding" type="tns:cgmsoap_PortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="queryAnalysis">
			<soap:operation soapAction="qry_CGM"/>
			<input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:cgm.ru:cgmsoap"/>
			</input>
			<output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:cgm.ru:cgmsoap"/>
			</output>
		</operation>
	</binding>
	<service name="CGM_SOAP">
		<documentation>WSDL File for cgmsoap HL7 edition</documentation>
		<port name="cgmsoap_PortType" binding="tns:cgmsoap_Binding">
			<soap:address location="http://10.128.131.114:8090"/>
		</port>
	</service>
</definitions>
