core/ws-laboratory/src/main/resources/labisws.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->

<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->

<definitions name="tmis-laboratory-integration" targetNamespace="http://korus.ru/tmis/tmis-laboratory-integration"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://korus.ru/tmis/tmis-laboratory-integration"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">-
    <types>
        <xs:schema targetNamespace="http://korus.ru/tmis/tmis-laboratory-integration" version="1.0"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://korus.ru/tmis/tmis-laboratory-integration">
            <xs:element type="tns:faultBean" nillable="true" name="ExceptionFault"/>
            <xs:element type="tns:setAnalysisResults" name="setAnalysisResults"/>
            <xs:element type="tns:setAnalysisResultsResponse" name="setAnalysisResultsResponse"/>
            <xs:complexType name="setAnalysisResults">-
                <xs:sequence>
                    <xs:element type="xs:string" name="orderMisId" minOccurs="0" form="qualified"/>
                    <xs:element type="xs:boolean" name="referralIsFinished" form="qualified"/>
                    <xs:element type="tns:analysisResult" name="results" minOccurs="0" form="qualified"
                                maxOccurs="unbounded"/>
                    <xs:element type="xs:string" name="biomaterialDefects" minOccurs="0" form="qualified"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="analysisResult">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="setAnalysisResultsResponse">-
                <xs:sequence>
                    <xs:element type="xs:int" name="return" form="qualified"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="faultBean">-
                <xs:sequence>
                    <xs:element type="xs:int" name="id"/>
                    <xs:element type="xs:string" name="message" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>

    <message name="setAnalysisResults">
        <part name="parameters" element="tns:setAnalysisResults"/>
    </message>

    <message name="setAnalysisResultsResponse">
        <part name="parameters" element="tns:setAnalysisResultsResponse"/>
    </message>

    <message name="CoreException">
        <part name="fault" element="tns:ExceptionFault"/>
    </message>

    <portType name="tmis">
        <operation name="setAnalysisResults">
            <input message="tns:setAnalysisResults"
                   wsam:Action="http://korus.ru/tmis/tmis-laboratory-integration/tmis/setAnalysisResultsRequest"/>
            <output message="tns:setAnalysisResultsResponse"
                    wsam:Action="http://korus.ru/tmis/tmis-laboratory-integration/tmis/setAnalysisResultsResponse"/>
            <fault name="CoreException" message="tns:CoreException"
                   wsam:Action="http://korus.ru/tmis/tmis-laboratory-integration/tmis/setAnalysisResults/Fault/CoreException"/>
        </operation>
    </portType>

    <binding name="tmisBinding" type="tns:tmis">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="setAnalysisResults">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>

            <output>
                <soap:body use="literal"/>
            </output>

            <fault name="CoreException">
                <soap:fault name="CoreException" use="literal"/>
            </fault>
        </operation>
    </binding>

    <service name="tmis-laboratory-integration">-
        <port name="tmis" binding="tns:tmisBinding">
            <soap:address location="http://10.220.83.1:8080/tmis-ws-laboratory/tmis-laboratory-integration"/>
        </port>
    </service>
</definitions>