core/laboratory-tier/src/main/resources/labisws2.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="IAcrossIntf_FNKCservice" targetNamespace="http://www.korusconsulting.ru" xmlns:tns="http://www.korusconsulting.ru" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns1="urn:AcrossIntf_FNKCIntf">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.korusconsulting.ru">
            <complexType name="PatientInfo">
                <sequence>
                    <element name="patientMisId" type="xs:int"/>
                    <element name="patientFamily" type="xs:string"/>
                    <element name="patientName" type="xs:string"/>
                    <element name="patientPatronum" type="xs:string"/>

                    <element name="patientBirthDate" type="xs:string"/>
                    <element name="patientSex" type="xs:int"/>
                </sequence>
            </complexType>
            <complexType name="DiagnosticRequestInfo">
                <sequence>
                    <element name="orderMisId" type="xs:int"/>
                    <element name="orderCaseId" type="xs:string"/>
                    <element name="orderFinanceId" type="xs:int"/>
                    <element name="orderMisDate" type="xs:dateTime"/>
                    <element name="orderPregnat" type="xs:int"/>

                    <element name="orderDiagCode" type="xs:string"/>
                    <element name="orderDiagText" type="xs:string"/>
                    <element name="orderComment" type="xs:string"/>
                    <element name="orderDepartmentName" type="xs:string"/>
                    <element name="orderDepartmentMisId" type="xs:string"/>
                    <element name="orderDoctorFamily" type="xs:string"/>
                    <element name="orderDoctorName" type="xs:string"/>
                    <element name="orderDoctorPatronum" type="xs:string"/>
                    <element name="orderDoctorMisId" type="xs:string"/>

                </sequence>
            </complexType>
            <complexType name="BiomaterialInfo">
                <sequence>
                    <element name="orderBiomaterialCode" type="xs:string"/>
                    <element name="orderBiomaterialName" type="xs:string"/>
                    <element name="orderPrefBarCode" type="xs:int"/>
                    <element name="orderBarCode" type="xs:string"/>
                    <element name="orderProbeDate" type="xs:dateTime"/>

                    <element name="orderBiomaterialComment" type="xs:string"/>
                </sequence>
            </complexType>
            <complexType name="OrderInfo">
                <sequence>
                    <element name="diagnosticCode" type="xs:string"/>
                    <element name="diagnosticName" type="xs:string"/>
                    <element name="orderPriority" type="xs:int"/>
                    <element name="indicators" type="ns1:arr_indic"/>

                </sequence>
            </complexType>
            <complexType name="Tindicator">
                <sequence>
                    <element name="indicatorName" type="xs:string"/>
                    <element name="indicatorCode" type="xs:string"/>
                </sequence>
            </complexType>
        </schema>

        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:AcrossIntf_FNKCIntf">
            <complexType name="arr_indic">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <sequence/>
                        <attribute ref="soapenc:arrayType" n1:arrayType="tns:Tindicator[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/"/>
                    </restriction>
                </complexContent>
            </complexType>

        </schema>
    </types>
    <message name="queryAnalysis0Request">
        <part name="PatientInfo" type="tns:PatientInfo"/>
        <part name="DiagnosticRequestInfo" type="tns:DiagnosticRequestInfo"/>
        <part name="BiomaterialInfo" type="tns:BiomaterialInfo"/>
        <part name="OrderInfo" type="tns:OrderInfo"/>
    </message>
    <message name="queryAnalysis0Response">

        <part name="return" type="xs:int"/>
    </message>
    <portType name="IAcrossIntf_FNKC">
        <operation name="queryAnalysis">
            <input message="tns:queryAnalysis0Request"/>
            <output message="tns:queryAnalysis0Response"/>
        </operation>
    </portType>
    <binding name="IAcrossIntf_FNKCbinding" type="tns:IAcrossIntf_FNKC">

        <binding xmlns="http://schemas.xmlsoap.org/wsdl/soap/" style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="queryAnalysis">
            <operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://www.korusconsulting.ru#queryAnalysis" style="rpc"/>
            <input>
                <body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.korusconsulting.ru"/>
            </input>
            <output>
                <body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.korusconsulting.ru"/>
            </output>

        </operation>
    </binding>
    <service name="IAcrossIntf_FNKCservice">
        <port name="IAcrossIntf_FNKCPort" binding="tns:IAcrossIntf_FNKCbinding">
            <address xmlns="http://schemas.xmlsoap.org/wsdl/soap/" location="http://10.0.227.10/ws_acl/Acrosswebserv.exe/soap/IAcrossIntf_FNKC"/>
        </port>
    </service>
</definitions>







        <!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"-->
		<!--xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"-->
		<!--xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"-->
		<!--xmlns:tns="http://www.korusconsulting.ru"-->
		<!--xmlns:xsd="http://www.w3.org/2001/XMLSchema"-->
		<!--xmlns:xsd1="http://www.korusconsulting.ru"-->
		<!--name="IntegrationCorus"-->
		<!--targetNamespace="http://www.korusconsulting.ru">-->
	<!--<types>-->
		<!--<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"-->
				<!--xmlns:xs1="http://www.korusconsulting.ru"-->
				<!--targetNamespace="http://www.korusconsulting.ru"-->
				<!--attributeFormDefault="unqualified"-->
				<!--elementFormDefault="qualified">-->
			<!--<xs:complexType name="BiomaterialInfo">-->
				<!--<xs:sequence>-->
					<!--<xs:element name="orderBiomaterialCode"    type="xs:string" minOccurs="0"/>-->
					<!--<xs:element name="orderBiomaterialname"    type="xs:string" minOccurs="0"/>-->
					<!--<xs:element name="orderBarCode"            type="xs:int"/>-->
					<!--<xs:element name="orderProbeDate"          type="xs:dateTime"/>-->
					<!--<xs:element name="orderBiomaterialComment" type="xs:string" minOccurs="0"/>-->
				<!--</xs:sequence>-->
			<!--</xs:complexType>-->
			<!--<xs:complexType name="DiagnosticRequestInfo">-->
				<!--<xs:sequence>-->
					<!--<xs:element name="orderMisId"           type="xs:int"/>-->
					<!--<xs:element name="orderMisDate"         type="xs:dateTime"/>-->
					<!--<xs:element name="orderPregnat"         type="xs:int"      minOccurs="0"/>-->
					<!--<xs:element name="orderDiagCode"        type="xs:string"/>-->
					<!--<xs:element name="orderDiagText"        type="xs:string"   minOccurs="0"/>-->
					<!--<xs:element name="orderComment"         type="xs:string"   minOccurs="0"/>-->
					<!--<xs:element name="orderDepartmentName"  type="xs:string"   minOccurs="0"/>-->
					<!--<xs:element name="orderDepartmentMisId" type="xs:int"/>-->
					<!--<xs:element name="orderDoctorFamily"    type="xs:string"   minOccurs="0"/>-->
					<!--<xs:element name="orderDoctorName"      type="xs:string"   minOccurs="0"/>-->
					<!--<xs:element name="orderDoctorPatronum"  type="xs:string"   minOccurs="0"/>-->
					<!--<xs:element name="orderDoctorMisId"     type="xs:int"/>-->
				<!--</xs:sequence>-->
			<!--</xs:complexType>-->
			<!--<xs:complexType name="IndicatorMetodic">-->
				<!--<xs:sequence>-->
					<!--<xs:element name="indicatorName"  type="xs:string"/>-->
					<!--<xs:element name="indicatorCode"  type="xs:string" minOccurs="0"/>-->
				<!--</xs:sequence>-->
			<!--</xs:complexType>-->
			<!--<xs:complexType name="OrderInfo">-->
				<!--<xs:sequence>-->
					<!--<xs:element name="diagnosticCode" type="xs:string" minOccurs="0"/>-->
					<!--<xs:element name="diagnosticName" type="xs:string" minOccurs="0"/>-->
					<!--<xs:element name="orderPriority"  type="xs:int"    minOccurs="0"/>-->
					<!--<xs:element name="indicators"     type="tns:IndicatorMetodic" minOccurs="0" maxOccurs="unbounded"/>-->
				<!--</xs:sequence>-->
			<!--</xs:complexType>-->
			<!--<xs:complexType name="PatientInfo">-->
				<!--<xs:sequence>-->
					<!--<xs:element name="patientMisId"     type="xs:int"/>-->
					<!--<xs:element name="patientFamily"    type="xs:string" minOccurs="0"/>-->
					<!--<xs:element name="patientName"      type="xs:string" minOccurs="0"/>-->
					<!--<xs:element name="patientPatronum"  type="xs:string" minOccurs="0"/>-->
					<!--<xs:element name="patientBirthDate" type="xs:string"/>-->
					<!--<xs:element name="patientSex"       type="xs:int"/>-->
				<!--</xs:sequence>-->
			<!--</xs:complexType>-->
			<!--<xs:element name="queryAnalysis">-->
				<!--<xs:complexType>-->
					<!--<xs:sequence>-->
						<!--<xs:element name="PatientInfo"-->
								<!--type="tns:PatientInfo"/>-->
						<!--<xs:element name="DiagnosticRequestInfo"-->
								<!--type="tns:DiagnosticRequestInfo"/>-->
						<!--<xs:element name="BiomaterialInfo"-->
								<!--type="tns:BiomaterialInfo"/>-->
						<!--<xs:element name="OrderInfo"-->
								<!--type="tns:OrderInfo"/>-->
					<!--</xs:sequence>-->
				<!--</xs:complexType>-->
			<!--</xs:element>-->
			<!--<xs:element name="queryAnalysisResponse">-->
				<!--<xs:complexType>-->
					<!--<xs:sequence>-->
						<!--<xs:element name="return"-->
								<!--type="xs:int"/>-->
					<!--</xs:sequence>-->
				<!--</xs:complexType>-->
			<!--</xs:element>-->
		<!--</xs:schema>-->
	<!--</types>-->
	<!--<message name="queryAnalysisRequestMessage">-->
		<!--<part name="parameters"-->
				<!--element="tns:queryAnalysis"/>-->
	<!--</message>-->
	<!--<message name="queryAnalysisResponseMessage">-->
		<!--<part name="parameters"-->
				<!--element="tns:queryAnalysisResponse"/>-->
	<!--</message>-->

    <!--<portType name="IntegrationCorusPortType">-->
        <!--<operation name="queryAnalysis">-->
            <!--<input message="tns:queryAnalysisRequestMessage"/>-->
            <!--<output message="tns:queryAnalysisResponseMessage"/>-->
        <!--</operation>-->
    <!--</portType>-->
    <!--<binding name="IAcrossIntf_FNKCbinding" type="tns:IntegrationCorusPortType">-->
        <!--<soapbind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>-->
        <!--<operation name="queryAnalysis">-->
            <!--<soapbind:operation soapAction="http://www.korusconsulting.ru#queryAnalysis" style="document"/>-->
            <!--<input>-->
                <!--<soapbind:body use="literal"/>-->
            <!--</input>-->
            <!--<output>-->
                <!--<soapbind:body use="literal" />-->
            <!--</output>-->
        <!--</operation>-->
    <!--</binding>-->
    <!--<service name="IntegrationCorus">-->
        <!--<port name="IntegrationCorusSoap" binding="tns:IAcrossIntf_FNKCbinding">-->
            <!--<soapbind:address location="http://ftp.across.ru/ws_test/AcrossWebServ.exe/soap/IAcrossIntf_FNKC"/>-->
        <!--</port>-->
    <!--</service>-->
	<!--&lt;!&ndash;<portType name="IntegrationCorusPortType">&ndash;&gt;-->
		<!--&lt;!&ndash;<operation name="queryAnalysis">&ndash;&gt;-->
			<!--&lt;!&ndash;<input message="tns:queryAnalysisRequestMessage"/>&ndash;&gt;-->
			<!--&lt;!&ndash;<output message="tns:queryAnalysisResponseMessage"/>&ndash;&gt;-->
		<!--&lt;!&ndash;</operation>&ndash;&gt;-->
	<!--&lt;!&ndash;</portType>&ndash;&gt;-->
	<!--&lt;!&ndash;<binding name="IntegrationCorusSoapBinding"&ndash;&gt;-->
			<!--&lt;!&ndash;type="tns:IntegrationCorusPortType">&ndash;&gt;-->
		<!--&lt;!&ndash;<soapbind:binding style="document"&ndash;&gt;-->
				<!--&lt;!&ndash;transport="http://schemas.xmlsoap.org/soap/http"/>&ndash;&gt;-->
		<!--&lt;!&ndash;<operation name="queryAnalysis">&ndash;&gt;-->
			<!--&lt;!&ndash;<soapbind:operation style="document"&ndash;&gt;-->
					<!--&lt;!&ndash;soapAction="http://www.korusconsulting.ru#IntegrationCorus:queryAnalysis"/>&ndash;&gt;-->
			<!--&lt;!&ndash;<input>&ndash;&gt;-->
				<!--&lt;!&ndash;<soapbind:body use="literal"/>&ndash;&gt;-->
			<!--&lt;!&ndash;</input>&ndash;&gt;-->
			<!--&lt;!&ndash;<output>&ndash;&gt;-->
				<!--&lt;!&ndash;<soapbind:body use="literal"/>&ndash;&gt;-->
			<!--&lt;!&ndash;</output>&ndash;&gt;-->
		<!--&lt;!&ndash;</operation>&ndash;&gt;-->
	<!--&lt;!&ndash;</binding>&ndash;&gt;-->
	<!--&lt;!&ndash;<binding name="IntegrationCorusSoap12Binding"&ndash;&gt;-->
			<!--&lt;!&ndash;type="tns:IntegrationCorusPortType">&ndash;&gt;-->
		<!--&lt;!&ndash;<soap12bind:binding style="document"&ndash;&gt;-->
				<!--&lt;!&ndash;transport="http://schemas.xmlsoap.org/soap/http"/>&ndash;&gt;-->
		<!--&lt;!&ndash;<operation name="queryAnalysis">&ndash;&gt;-->
			<!--&lt;!&ndash;<soap12bind:operation style="document"&ndash;&gt;-->
					<!--&lt;!&ndash;soapAction="http://www.korusconsulting.ru#IntegrationCorus:queryAnalysis"/>&ndash;&gt;-->
			<!--&lt;!&ndash;<input>&ndash;&gt;-->
				<!--&lt;!&ndash;<soap12bind:body use="literal"/>&ndash;&gt;-->
			<!--&lt;!&ndash;</input>&ndash;&gt;-->
			<!--&lt;!&ndash;<output>&ndash;&gt;-->
				<!--&lt;!&ndash;<soap12bind:body use="literal"/>&ndash;&gt;-->
			<!--&lt;!&ndash;</output>&ndash;&gt;-->
		<!--&lt;!&ndash;</operation>&ndash;&gt;-->
	<!--&lt;!&ndash;</binding>&ndash;&gt;-->
	<!--&lt;!&ndash;<service name="IntegrationCorus">&ndash;&gt;-->
		<!--&lt;!&ndash;<port name="IntegrationCorusSoap"&ndash;&gt;-->
				<!--&lt;!&ndash;binding="tns:IntegrationCorusSoapBinding">&ndash;&gt;-->
			<!--&lt;!&ndash;<documentation> &ndash;&gt;-->
				<!--&lt;!&ndash;<wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"&ndash;&gt;-->
						<!--&lt;!&ndash;conformsTo="http://ws-i.org/profiles/basic/1.1"/>&ndash;&gt;-->
			<!--&lt;!&ndash;</documentation>&ndash;&gt;-->
			<!--&lt;!&ndash;<soapbind:address location="http://10.0.200.68/LIS/ws/IntegrationCorus/"/>&ndash;&gt;-->
		<!--&lt;!&ndash;</port>&ndash;&gt;-->
		<!--&lt;!&ndash;<port name="IntegrationCorusSoap12"&ndash;&gt;-->
				<!--&lt;!&ndash;binding="tns:IntegrationCorusSoap12Binding">&ndash;&gt;-->
			<!--&lt;!&ndash;<soap12bind:address location="http://10.0.200.68/LIS/ws/IntegrationCorus/"/>&ndash;&gt;-->
		<!--&lt;!&ndash;</port>&ndash;&gt;-->
	<!--&lt;!&ndash;</service>&ndash;&gt;-->
<!--</definitions>-->