core/ws-laboratory/src/main/webapp/WEB-INF/labisws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T1407.12.2011 № 420-ФЗ:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://korus.ru/laboratory/labisws"
             xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://korus.ru/laboratory/labisws" name="labisws">
    <types>
        <xs:schema xmlns:tns="http://korus.ru/laboratory/labisws" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   version="1.0"
                   targetNamespace="http://korus.ru/laboratory/labisws">
            <xs:element name="ExceptionFault" nillable="true" type="tns:faultBean"/>

            <xs:element name="queryAnalysis" type="tns:queryAnalysis"/>

            <xs:element name="queryAnalysisResponse" type="tns:queryAnalysisResponse"/>

            <xs:complexType name="queryAnalysis">
                <xs:sequence>
                    <xs:element name="patientInfo" type="tns:patientInfo" minOccurs="0"/>
                    <xs:element name="requestInfo" type="tns:diagnosticRequestInfo" minOccurs="0"/>
                    <xs:element name="biomaterialInfo" type="tns:biomaterialInfo" minOccurs="0"/>
                    <xs:element name="orderInfo" type="tns:orderInfo" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="patientInfo">
                <xs:sequence>
                    <xs:element name="patientBirthDate" type="xs:date"/>
                    <xs:element name="patientMisId" type="xs:int"/>
                    <xs:element name="patientName" type="xs:string"/>
                    <xs:element name="patientSex" type="tns:gender"/>
                    <xs:element name="patientFamily" type="xs:string"/>
                    <xs:element name="patientPatronum" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="diagnosticRequestInfo">
                <xs:sequence>
                    <xs:element name="orderComment" type="xs:string" minOccurs="0"/>
                    <xs:element name="orderMisDate" type="xs:dateTime"/>
                    <xs:element name="orderDepartmentMisId" type="xs:string"/>
                    <xs:element name="orderDepartmentName" type="xs:string" minOccurs="0"/>
                    <xs:element name="orderDiagText" type="xs:string"/>
                    <xs:element name="orderDoctorMisId" type="xs:string"/>
                    <xs:element name="orderDoctorName" type="xs:string" minOccurs="0"/>
                    <xs:element name="orderDoctorFamily" type="xs:string" minOccurs="0"/>
                    <xs:element name="orderDoctorPatronum" type="xs:string" minOccurs="0"/>
                    <xs:element name="orderMisId" type="xs:int"/>
                    <xs:element name="orderDiagCode" type="xs:string"/>
                    <xs:element name="orderPregnatMax" type="xs:int"/>
                    <xs:element name="orderPregnatMin" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="biomaterialInfo">
                <xs:sequence>
                    <xs:element name="orderBarCode" type="xs:string"/>
                    <xs:element name="orderBiomaterialCode" type="xs:string"/>
                    <xs:element name="orderBiomaterialComment" type="xs:string" minOccurs="0"/>
                    <xs:element name="orderBiomaterialName" type="xs:string" minOccurs="0"/>
                    <xs:element name="orderProbeDate" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="orderInfo">
                <xs:sequence>
                    <xs:element name="diagnosticCode" type="xs:string"/>
                    <xs:element name="indicators" type="tns:indicator" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="name" type="xs:string" minOccurs="0"/>
                    <xs:element name="orderPriority" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="indicator">
                <xs:sequence>
                    <xs:element name="indicatorCode" type="xs:string"/>
                    <xs:element name="indicatorName" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="queryAnalysisResponse">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="faultBean">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="message" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:simpleType name="gender">
                <xs:restriction base="xs:int">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </types>

    <message name="queryAnalysis">
        <part name="parameters" element="tns:queryAnalysis"/>
    </message>
    <message name="queryAnalysisResponse">
        <part name="parameters" element="tns:queryAnalysisResponse"/>
    </message>
    <message name="AnalysisRequestException">
        <part name="fault" element="tns:ExceptionFault"/>
    </message>
    <portType name="labisws">
        <operation name="queryAnalysis">
            <input wsam:Action="http://korus.ru/laboratory/labisws/labisws/queryAnalysisRequest"
                   message="tns:queryAnalysis"/>
            <output wsam:Action="http://korus.ru/laboratory/labisws/labisws/queryAnalysisResponse"
                    message="tns:queryAnalysisResponse"/>
            <fault message="tns:AnalysisRequestException" name="AnalysisRequestException"
                   wsam:Action="http://korus.ru/laboratory/labisws/labisws/queryAnalysis/Fault/AnalysisRequestException"/>
        </operation>
    </portType>
    <binding name="labisBinding" type="tns:labisws">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="queryAnalysis">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AnalysisRequestException">
                <soap:fault name="AnalysisRequestException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="labisws">
        <port name="labis" binding="tns:labisBinding">
            <soap:address location="http://localhost:8080/tmis-ws-laboratory/labisws"/>
        </port>
    </service>
</definitions>